<%= render partial: "shared/nav" %>

<body>
  <div class="row">
    <p class='col-12'>Invoice #<%= @invoice.id %></p>
  </div>

  <div id="current-invoice-status">
    <strong>Status: </strong><%= @invoice.status %>
  </div>
  <br>

  <p> Created on: <%= @invoice.created_at.strftime("%A, %B %-d, %Y") %></p>
  <p> Total Revenue: $<%= number_with_precision(@invoice.total_revenue / 100, :precision => 2, :delimiter => ",") %> </p>

  <h4>Customer:</h4>
    <%= @customer.first_name %> <%= @customer.last_name %><br>
  <br>
  <br>
  <h4>Items on this Invoice:</h4>
  <table class="table">
    <thead>
      <tr class="tr">
        <th class="th1">Item Name</th>
        <th class="th1">Quantity</th>
        <th class="th1">Unit Price</th>
        <th class="th1">Status</th>
      </tr>
    </thead>

    <tbody>
      <% @invoice.invoice_items.each do |i| %>
        <section id="the-status-<%= i.id %>">
          <tr class="tr">
            <td style="text-align:center"><%= i.item.name %></td>
            <td style="text-align:center"><%= i.quantity %></td>
            <td style="text-align:center">$<%= number_with_precision(i.unit_price / 100, :precision => 2, :delimiter => ",") %></td>
            <td style="text-align:center">
              <%= form_with model: @invoice, url: merchant_invoice_path(@merchant, @invoice), method: :patch, local: true do |f| %>
                <%= f.select :status, Invoice.statuses.keys, selected: "#{@invoice.status}" %>
                <%= f.submit 'Update Invoice' %>
              <% end %>
              </td>
          </tr>
        </section>
      <% end %>
    </tbody>
  </table>

<br>

<h4> Coupons </h4>

  <!-- If there is not already a coupon applied to the invoice, show the option to add one -->
  <% if @invoice.coupon_id == nil %>
    <section class="apply_a_coupon">
      <h4> Apply a Coupon to this Invoice </h4>
        <%= form_with url: merchant_invoice_path(@merchant, @invoice), method: :patch, data: {turbo: false}, local: true do |form| %>
          <%= form.select :add_coupon, options_from_collection_for_select(@merchant.enabled_coupons, 'id', 'name', 'code') %>
          <%= form.button "Apply Coupon"%>
        <% end %>
    </section>
  <!-- If there is already a coupon applied to the invoice, list out the details of the coupon applied -->
  <% else %>
    <section class="applied_coupon_info">
      <p> This coupon has been applied to this invoice: <%= link_to @invoice.coupon.name, merchant_coupon_path(@merchant, @invoice.coupon.id) %> </p>
      <code class="coupon_code"> <%= @invoice.coupon.code %> </code>
    </section>
  <% end %> 

<br><br>

<section class="invoice_totals">
  <h3> Subtotal: $<%= number_with_precision(@invoice.total_revenue / 100, :precision => 2, :delimiter => ",") %> </h3>
    <% if @invoice.coupon_id != nil %>
      <% if @invoice.coupon.amount_type == "dollar" %>
        <h3> Grand Total: <span class="final_revenue">$<%= number_with_precision(@invoice.calculate_dollar_grand_total / 100, :precision => 2, :delimiter => ",") %> </span></h3>
      <% else @invoice.coupon.amount_type == "percent" %>
        <h3> Grand Total: <span class="final_revenue">$<%= number_with_precision(@invoice.calculate_percent_grand_total / 100, :precision => 2, :delimiter => ",") %> </span>
      <% end %>
    <% else %>
      <h3> Grand Total: <span class="final_revenue">$<%= number_with_precision(@invoice.total_revenue / 100, :precision => 2, :delimiter => ",") %> </span>
    <% end %>
</section>

</body>