<%= render partial: "shared/nav" %>

<h1> <%= @merchant.name %> Coupons </h1>

<section class="new_merchant_coupon">
  <%= link_to "Create Coupon", new_merchant_coupon_path(@merchant) %>
</section>

<br>

<section class="merchant_coupons">

  <section class="merchant_coupons_enabled">
  <h1> Enabled Coupons (<%= @merchant.enabled_coupons_count %>) </h1>
    <% @merchant.enabled_coupons.each do |coupon| %>
      <section id="merchant_coupon_<%= coupon.id %>">
        <%= link_to coupon.name, merchant_coupon_path(@merchant, coupon) %>
        <p><b> <%= coupon.formatted_amount %> </b></p>
      </section>
    <% end %>
  </section>

  <section class="merchant_coupons_disabled">
  <h1> Disabled Coupons (<%= @merchant.disabled_coupons_count %>) </h1>
    <% @merchant.disabled_coupons.each do |coupon| %>
      <section id="merchant_coupon_<%= coupon.id %>">
        <%= link_to coupon.name, merchant_coupon_path(@merchant, coupon) %>
        <p><b> <%= coupon.formatted_amount %> </b></p>
      </section>
    <% end %>
  </section>

</section>