<%= render partial: "shared/nav" %>

<section class="coupon_information">
  <h1> <%= @coupon.name %> </h1>
  <h3> Coupon Code: <code class="coupon_code"> <%= @coupon.code %> </code> </h3>

  <h3> Amount </h3>
  <p> <%= @coupon.formatted_amount %> </p>

  <h3> Status </h3>
  <p> This coupon is <%= @coupon.status %> </p>

  <h3> Usage </h3>
  <p> This coupon has been used <%= @coupon.usage_count %> times </p>
</section>

<section class="coupon_buttons">
  <% if @coupon.status == "enabled" %>

    <!-- Deactivate Button -->
    <%= form_with url: merchant_coupon_path(@merchant, @coupon), method: :patch, data: {turbo: false} do |form| %>
      <%= form.hidden_field :new_status, :value => :disabled %>
      <%= form.submit "Deactivate Coupon" %>
    <% end %>

  <% elsif @coupon.status == "disabled" && @merchant.enabled_coupons_count < 5 %>

    <!-- Activate Button -->
    <%= form_with url: merchant_coupon_path(@merchant, @coupon), method: :patch, data: {turbo: false} do |form| %>
      <%= form.hidden_field :new_status, :value => :enabled %>
      <%= form.submit "Activate Coupon" %>
    <% end %>

  <% else %>

  <div class="error_box">
    <p class="error_text"> Unable to activate coupon. Please deactivate a coupon and try again. </p>
  </div>
  <% end %>
</section>